---
import LegalLayout from '../../layouts/legal.astro'
---

<LegalLayout>
  <h1>Privacy Policy</h1>
  <p>This docmuent lays out how your data will be handled and stored on Atlas's services.</p>
</LegalLayout>