---
import LegalLayout from '../../layouts/legal.astro'
---

<LegalLayout>
  <h1>Privacy Policy</h1>

  <h2>1. Data Collection</h2>
  <p>We want to protect your privacy - Atlas does not collect any personally identifiable information (PII). However, our web servers may log users' IP addresses for security purposes, such as investigating events like DDOS attacks.</p>

  <h2>2. Data Use</h2>
  <p>The data collected (IP addresses) may be used solely for security monitoring and investigation purposes. We do not use analytics platforms or engage in data sharing.</p>

  <h2>3. Data Sharing</h2>
  <p>Atlas does not share user data with third parties.</p>

  <h2>4. Data Security</h2>
  <p>We implement appropriate security measures to protect the data we collect. However, as no data is stored, users' browsing activity and IP addresses are not retained beyond what is necessary for security monitoring.</p>

  <h2>5. User Rights</h2>
  <p>Since we do not collect or store personal data, there are no provisions for data access or deletion requests.</p>

  <h2>6. Cookies and Tracking</h2>
  <p>Atlas does not use cookies or other tracking technologies.</p>

  <h2>7. Contact Information</h2>
  <p>For any inquiries or concerns about this Privacy Policy, you can contact us at: <a href="mailto:hey@proudparrot2.com">hey@proudparrot2.com</a>.</p>
</LegalLayout>
