---
import LegalLayout from '../../layouts/legal.astro'
---

<LegalLayout>
  <h1>Terms of Service</h1>
  <p>This docmuent lays out the basic condtions you agree to when using Atlas's services.</p>
</LegalLayout>