---
import LegalLayout from '../../layouts/legal.astro'
---

<LegalLayout>
  <h1>Terms of Service</h1>
  
  <h2>1. Service Description</h2>
  <p>Atlas is a web proxy service that allows users to route browsing traffic through our servers to hide or uncensor their browsing. Users can enter search queries or URLs, and the request will be routed through our servers and displayed inside the tab.</p>

  <h2>2. User Responsibilities</h2>
  <p>Users are responsible for using Atlas in compliance with all applicable local, state, national, and international laws. By using the service, users agree not to engage in any illegal activities or misuse the service.</p>

  <h2>3. Prohibited Activities</h2>
  <p>Users are prohibited from using Atlas to:</p>
  <ul>
    <li>Engage in any illegal activities.</li>
    <li>Transmit or distribute any material that is harmful, abusive, defamatory, or otherwise objectionable.</li>
  </ul>

  <h2>4. Content Ownership</h2>
  <p>Atlas does not claim ownership of the content accessed through our service. Users are responsible for the content they access and share while using the service.</p>

  <h2>5. Termination of Service</h2>
  <p>Atlas reserves the right to terminate or suspend access to the service without prior notice for any reason, including violation of these Terms of Service.</p>

  <h2>6. Disclaimers and Limitations of Liability</h2>
  <p>Atlas provides the service "as is" without any warranties or guarantees. We are not liable for any direct, indirect, incidental, or consequential damages resulting from the use or inability to use the service, including any content accessed through the service.</p>

  <h2>7. Modification of Terms</h2>
  <p>Atlas reserves the right to modify these Terms of Service at any time. Users will be notified of any changes via our Discord channel. Continued use of the service after any modifications constitutes acceptance of the new terms.</p>
</LegalLayout>
