---
import Base from '../layouts/base.astro'
import { Search, Box } from 'lucide-solid'
---

<Base>
  <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col gap-4">
    <div class="flex items-center justify-center gap-5 text-6xl font-semibold">
      <Box class="h-14 w-14" /> Atlas
    </div>
    <div class="join" transition:name="control">
      <input transition:persist="input" type="text" class="input bg-base-200 focus:border-transparent focus:outline-none w-96 join-item" />
      <button class="btn btn-square join-item" id="enter">
        <Search class="h-5 w-5" />
      </button>
    </div>
  </div>
</Base>

<script>
  import { navigate } from 'astro:transitions/client'
  // @ts-ignore
  import { SetTransport } from "@mercuryworkshop/bare-mux"

  document.addEventListener('astro:page-load', async () => {
    if (window.location.href.includes('/route')) return
    const input = document.querySelector('input')

    input.value = ''

    input.onkeydown = (e) => {
      if (e.key == 'Enter') handleSearch()
    }
    ;(document.querySelector('#enter') as HTMLButtonElement).onclick = handleSearch

    if ('serviceWorker' in navigator) {
      await navigator.serviceWorker.register('/sw.js', { scope: '/cdn-cgi/' })
      SetTransport('EpxMod.EpoxyClient', { wisp: 'ws://anura.pro'})
    }

    function handleSearch() {
      if (!input.value) return

      navigate(`/route`)
    }
  })
</script>
