---
import Base from './base.astro'
import * as Icons from 'lucide-solid'
---

<Base>
  <div class="absolute top-4 left-1/2 -translate-x-1/2">
    <div class="join">
      <a href="/">
        <button data-route="/" class="navbtn btn join-item btn-md lg:btn-sm no-animation ">
          <Icons.Home class="h-6 w-6 sm:h-4 sm:w-4" /> <span class="hidden sm:inline">Home</span>
        </button>
      </a>

      <a href="/bookmarks">
        <button data-route="/bookmarks" class="navbtn btn join-item btn-md lg:btn-sm no-animation">
          <Icons.Bookmark class="h-6 w-6 sm:h-4 sm:w-4" /> <span class="hidden sm:inline">Bookmarks</span>
        </button>
      </a>

      <a href="/shortcuts">
        <button data-route="/shortcuts" class="navbtn btn join-item btn-md lg:btn-sm no-animation">
          <Icons.Command class="h-6 w-6 sm:h-4 sm:w-4" /> <span class="hidden sm:inline">Shortcuts</span>
        </button>
      </a>

      <a href="/settings">
        <button data-route="/settings" class="navbtn btn join-item btn-md lg:btn-sm no-animation">
          <Icons.Settings2 class="h-6 w-6 sm:h-4 sm:w-4" /> <span class="hidden sm:inline">Settings</span>
        </button>
      </a>
    </div>
  </div>

  <slot />
</Base>

<script is:inline data-astro-rerun>
  var buttons = document.querySelectorAll('.navbtn')
  var toggledClass = 'btn-primary'

  buttons.forEach((btn) => {
    btn.classList.remove(toggledClass)

    if (btn.dataset.route == window.location.pathname) {
      btn.classList.add(toggledClass)
    }
  })
</script>
